<!--

@media screen and (min-width:897px){
    body{
        width: 1024px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width:896px){
    body{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width:480px){
    body{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}

#title{
    font-size: xx-large;
}

a.noline{
    text-decoration: none;
}

table{
    border-collapse: collapse;
}

th{
    text-align: center;
    width: 60px;
    padding: 4px;
}

td{
    text-align: center; 
    width: 60px; 
    padding: 4px;
}

.bordR{
    border-right: 1px solid black;
}

.wide{
    width: auto;
}

-->